bin/
obj/
.vscode/
.vs/
.VSCodeCounter/
testGeneratedCode/programs/*.llh
demo/llCompiler
demo/*.S
demo/*.o
demo/al
testGeneratedCode/*.o
testGeneratedCode/*.S
testGeneratedCode/*.dll
testGeneratedCode/testCodeGen
testGeneratedCode/Antlr4.Runtime.Standard.dll
testGeneratedCode/llCompiler.*
testGeneratedCode/llCompiler
deps/