bin/
obj/
.vscode/
.vs/
.VSCodeCounter/
testGeneratedCode/programs/*.llh
testGeneratedCode/header/
demo/llCompiler
demo/*.S
demo/*.o
demo/al
**/*.o
**/*.S
**/*.dll
**/*.exe
**/*.pdb
testGeneratedCode/testCodeGen
testGeneratedCode/Antlr4.Runtime.Standard.dll
testGeneratedCode/llCompiler.*
testGeneratedCode/llCompiler
deps/