bin/
obj/
.vscode/
.vs/
demo/llCompiler
demo/*.S
demo/*.o
demo/al
TestFile2.ll
testGeneratedCode/*.o
testGeneratedCode/*.S
testGeneratedCode/*.dll
testGeneratedCode/testCodeGen
testGeneratedCode/Antlr4.Runtime.Standard.dll
testGeneratedCode/llCompiler.*
testGeneratedCode/llCompiler
deps/